* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
}
html, body {
    width:100%;
    height:100%;
    margin:0px;
}
#content {
    padding: 10 0 10 10px;
    background-color:394046;
}

#control {
    color:#ffffff;
    padding:10 0 10 0px;
    background-color: #394046;
}
#control, #canvas-wrap {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
#control > div {
    padding: 3px;
}

#pos {
    background-color: #f95168;
    text-align: center;
}
#colors {
}
#console {
}
