@font-face {
    font-family: "pixel";
    src: url(pixel.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "pixel"; 
    font-size: 10px;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
html, body {
    width:100%;
    height:100%;
    margin:0px;
}
#content {
    padding: 10 0 0 10px;
    background-color:394046;
}
#control {
    color:#ffffff;
    padding:10 0 10 0px;
    background-color: #394046;
}

#colors, #canvas-wrap,#console {
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
#control > div {
    padding: 5px;
    height: 50px;
}
#color {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
#colornum {
    background-color: #394046;
    padding: 6px 4px 3px 5px;
    display: inline-block;
    border-radius: 50%;
}
.center-block {
    text-align: center;
}
.center-block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align:middle;
}
.center {
    display: inline-block;
    vertical-align: middle;
}

#pos {
    background-color: #f95168;
    text-align: center;
    vertical-align:middle;
    line-height: 50px;
}
#colors {
}
#console {
}
